<div id="installModal" class="modal">
  <div class="modal-content">
    <div class="modal-close">
      <button class="modal-close-btn" id="modalCloseBtn">Close (esc)</button>
    </div>

    <div class="modal-body">
      <header class="modal-header">
        <h2 class="modal-title" id="modalTitle"></h2>
        <p class="modal-meta" id="modalVenue"></p>
        <p class="modal-date" id="modalLocation"></p>
        <p class="modal-date" id="modalDate"></p>
      </header>

      <div class="modal-info" id="modalInfo"></div>

      <div class="modal-embed" id="modalEmbed" style="display: none;"></div>

      <div id="modalLink"></div>
    </div>
  </div>
</div>
