<footer class="site-footer">
    <div class="footer-project">
        <p>{{ .Site.Params.footer_project }} <a href="/about/">About this project →</a> &nbsp;·&nbsp; <a href="/map/">Map →</a></p>
    </div>
    <div class="footer-contact">
        <p class="footer-contact-averia">For info and contact: <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a> &nbsp;·&nbsp; <a href="https://enricopolicardo.com" target="_blank" rel="noopener">enricopolicardo.com</a></p>
    </div>
    <div class="footer-ace">
        <a href="https://www.artscouncil.org.uk/dycp" target="_blank" rel="noopener"><img src="https://www.artscouncil.org.uk/sites/default/files/download-file/grant_png_black.png" alt="Supported using public funding by Arts Council England"></a>
    </div>
    <div class="footer-credit"><span class="footer-credit-averia">{{ .Site.Params.footer_credit }}</span></div>
</footer>
