<footer class="site-footer">
    <div class="footer-contact">
        <p><strong>Enrico Policardo</strong></p>
        <p><a href="mailto:info@enricopolicardo.com">info@enricopolicardo.com</a></p>
                <p><a href="https://enricopolicardo.com" target="_blank">enricopolicardo.com</a></p>
    </div>
    <div class="footer-ace">
        <a href="https://www.artscouncil.org.uk/dycp" target="_blank"><img src="https://www.artscouncil.org.uk/sites/default/files/download-file/grant_png_black.png" alt="Supported using public funding by Arts Council England"></a>
    </div>
    <div class="footer-credit">This Was Tomorrow is supported by Arts Council England (DYCP)</div>
</footer>
